<h2>Create New Account</h2>
<br><br>

<form method="post" action="/user/new">
    <label for="user[email]">Email: </label>
    <input type="text" name="user[email]"></input>
    <br><br>

    <label for="user[username]">Username: </label>
    <input type="text" name="user[username]"></input>
    <br><br>

    <label for="user[password]">Password: </label>
    <input type="password" name="user[password]"></input>
    <br><br>

    <label for="password_verify">Verify Password: </label>
    <input type="password" name="password_verify"></input>
    <br><br>

    <input type="submit" value="Create Account"></input>
</form>