<h2>Create New Account</h2>
<br><br>

<form method="post" action="user/new">
    <label for="email">Email: </label>
    <input type="text" name="email"></input>
    <br><br>

    <label for="username">Username: </label>
    <input type="text" name="username"></input>
    <br><br>

    <label for="password">Password: </label>
    <input type="text" name="password"></input>
    <br><br>

    <label for="password_verify">Verify Password: </label>
    <input type="text" name="password_verify"></input>
    <br><br>

    <input type="submit" value="Create Account"></input>
</form>